aiohttp==3.8.4+computecanada
aiosignal==1.3.1+computecanada
arrow==1.3.0+computecanada
async_timeout==4.0.3+computecanada
autoreject==0.4.2
bokeh==2.4.3+computecanada
click==8.1.7+computecanada
cloudpickle==3.0.0
dask==2023.10.0
distributed==2023.10.0
EDFlib-Python==1.0.8
et_xmlfile==1.1.0+computecanada
filelock==3.12.4+computecanada
fqdn==1.5.1+computecanada
frozenlist==1.3.3+computecanada
fsspec==2023.9.2+computecanada
h5io==0.1.9
h5py==3.8.0+computecanada
isoduration==20.11.0+computecanada
joblib==1.3.2+computecanada
json-tricks==3.17.3
jsonpointer==2.4+computecanada
jupyter-events==0.8.0
jupyter_server==2.8.0
jupyter_server_proxy==4.1.0
jupyter_server_terminals==0.4.4+computecanada
jupyterlab_pygments==0.2.2+computecanada
locket==1.0.0+computecanada
markdown_it_py==3.0.0+computecanada
mdurl==0.1.2+computecanada
mne==1.5.1
mne-bids==0.13
mne-bids-pipeline==1.4.0
msgpack==1.0.4+computecanada
multidict==6.0.4+computecanada
nbclient==0.8.0+computecanada
nbconvert==7.9.2+computecanada
nbformat==5.9.2+computecanada
nibabel==5.1.0+computecanada
numexpr==2.8.4+computecanada
numpy==1.25.2+computecanada
openpyxl==3.1.2+computecanada
overrides==7.4.0+computecanada
partd==1.4.1
pooch==1.7.0+computecanada
pybv==0.7.5
pymatreader==0.0.32
python-picard==0.7
pyvista==0.42.3
pyvistaqt==0.11.0
QtPy==2.4.0
rich==13.6.0
scikit_learn==1.3.0+computecanada
scooby==0.7.4
seaborn==0.13.0
simpervisor==1.0.0
sortedcontainers==2.4.0+computecanada
tblib==2.0.0
threadpoolctl==3.2.0+computecanada
toolz==0.12.0+computecanada
tqdm==4.66.1+computecanada
types_python_dateutil==2.8.19.14+computecanada
uri_template==1.3.0+computecanada
vtk==9.2.5+computecanada
webcolors==1.13+computecanada
xmltodict==0.13.0+computecanada
yarl==1.8.2+computecanada
zict==3.0.0
