absl_py==2.0.0+computecanada
aiofiles==23.2.1
aiohttp==3.8.4+computecanada
aiosignal==1.3.1+computecanada
anyio==4.0.0+computecanada
argon2_cffi==23.1.0+computecanada
argon2_cffi_bindings==21.2.0+computecanada
arrow==1.3.0+computecanada
asttokens==2.4.0+computecanada
astunparse==1.6.3+computecanada
async_timeout==4.0.3+computecanada
attrs==23.1.0+computecanada
autoreject @ https://api.github.com/repos/autoreject/autoreject/zipball/master#sha256=5b237c2cd63efa2211163c45e6004ded76d6dc64dc74f1dce967fe984729d0af
backcall==0.2.0+computecanada
beautifulsoup4==4.12.2+computecanada
bleach==6.0.0+computecanada
bokeh==2.4.3+computecanada
cachetools==5.3.2+computecanada
certifi==2023.7.22+computecanada
cffi==1.15.1+computecanada
charset-normalizer==3.3.1
click==8.1.7+computecanada
cloudpickle==3.0.0
comm==0.1.4+computecanada
contourpy==1.1.1+computecanada
cramjam==2.6.2+computecanada
cycler==0.12.1+computecanada
dask==2023.10.0
dask_jobqueue==0.8.2+computecanada
debugpy==1.8.0+computecanada
decorator==5.1.1+computecanada
defusedxml==0.7.1+computecanada
distributed==2023.10.0
EDFlib-Python==1.0.8
et_xmlfile==1.1.0+computecanada
exceptiongroup==1.1.3+computecanada
executing==2.0.0+computecanada
fastjsonschema==2.18.1+computecanada
fastparquet==2023.2.0+computecanada
filelock==3.12.4+computecanada
flatbuffers==20190709135844+computecanada
fonttools==4.43.1+computecanada
fqdn==1.5.1+computecanada
frozenlist==1.3.3+computecanada
fsspec==2023.9.2+computecanada
gast==0.5.4+computecanada
google-pasta==0.2.0+computecanada
google_auth==2.23.4+computecanada
google_auth_oauthlib==1.0.0+computecanada
graphql_core==3.2.3+computecanada
grpcio==1.57.0+computecanada
h11==0.14.0+computecanada
h5io==0.1.9
h5py==3.8.0+computecanada
httpcore==0.18.0
httpx==0.25.0
idna==3.4+computecanada
importlib_metadata==7.0.1+computecanada
ipykernel==6.25.2+computecanada
ipython==8.16.1+computecanada
ipython_genutils==0.2.0+computecanada
ipywidgets==8.0.7+computecanada
isoduration==20.11.0+computecanada
jedi==0.19.1+computecanada
Jinja2==3.1.2+computecanada
joblib==1.3.2+computecanada
json-tricks==3.17.3
jsonpointer==2.4+computecanada
jsonschema==4.19.1+computecanada
jsonschema_specifications==2023.7.1+computecanada
jupyter==1.0.0+computecanada
jupyter-console==6.4.0+computecanada
jupyter-events==0.8.0
jupyter_client==8.4.0+computecanada
jupyter_core==5.4.0+computecanada
jupyter_server==2.8.0
jupyter_server_proxy==4.1.0
jupyter_server_terminals==0.4.4+computecanada
jupyterlab_pygments==0.2.2+computecanada
jupyterlab_widgets==3.0.8+computecanada
keras==2.14.0+computecanada
Keras-Preprocessing==1.1.2+computecanada
kiwisolver==1.4.5+computecanada
lazy_loader==0.3+computecanada
libclang==14.0.1+computecanada
locket==1.0.0+computecanada
Markdown==3.5.1+computecanada
markdown_it_py==3.0.0+computecanada
MarkupSafe==2.1.3+computecanada
matplotlib==3.7.2+computecanada
matplotlib_inline==0.1.6+computecanada
mdurl==0.1.2+computecanada
mistune==3.0.2+computecanada
ml_dtypes==0.2.0+computecanada
mne==1.6.1
mne-bids==0.13
mne-bids-pipeline==1.4.0
msgpack==1.0.4+computecanada
multidict==6.0.4+computecanada
nbclassic==0.5.2+computecanada
nbclient==0.8.0+computecanada
nbconvert==7.9.2+computecanada
nbformat==5.9.2+computecanada
nest_asyncio==1.5.8+computecanada
neurodsp==2.2.1
nibabel==5.1.0+computecanada
notebook==6.5.2+computecanada
notebook_shim==0.2.3+computecanada
numexpr==2.8.4+computecanada
numpy==1.25.2+computecanada
nvidia-cublas-cu12==12.3.4.1
nvidia-cuda-nvrtc-cu12==12.3.103
nvidia-cuda-runtime-cu12==12.3.101
nvidia-cudnn-cu12==8.9.6.50
oauthlib==3.2.2+computecanada
openneuro-py==2023.1.0
openpyxl==3.1.2+computecanada
opt_einsum==3.3.0+computecanada
overrides==7.4.0+computecanada
packaging==23.2+computecanada
pandas==2.1.1+computecanada
pandocfilters==1.5.0+computecanada
parso==0.8.3+computecanada
partd==1.4.1
pexpect==4.8.0+computecanada
pickleshare==0.7.5+computecanada
Pillow==10.1.0+computecanada
platformdirs==3.11.0
pooch==1.7.0+computecanada
prometheus_client==0.17.1+computecanada
prompt_toolkit==3.0.39+computecanada
protobuf==4.25.1
psutil==5.9.5+computecanada
ptyprocess==0.7.0+computecanada
pure_eval==0.2.2+computecanada
pyasn1==0.5.1+computecanada
pyasn1_modules==0.3.0+computecanada
pybv==0.7.5
pycparser==2.21+computecanada
Pygments==2.16.1+computecanada
pymatreader==0.0.32
pyparsing==3.0.9+computecanada
pyprep @ git+https://github.com/sappelhoff/pyprep.git@fa6dda1301b522e8e34b73c791a596465c71adbb
python-dateutil==2.8.2+computecanada
python-picard==0.7
python_dotenv==1.0.0+computecanada
python_json_logger==2.0.7+computecanada
pytz==2023.3.post1+computecanada
pyvista==0.42.3
pyvistaqt==0.11.0
PyYAML==6.0.1+computecanada
pyzmq==25.1.1+computecanada
qtconsole==5.3.2+computecanada
QtPy==2.4.0
referencing==0.30.2+computecanada
requests==2.31.0+computecanada
requests_oauthlib==1.3.1+computecanada
rfc3339_validator==0.1.4+computecanada
rfc3986_validator==0.1.1+computecanada
rich==13.6.0
rpds_py==0.10.0+computecanada
rsa==4.9+computecanada
scikit_learn==1.3.0+computecanada
scipy==1.11.2+computecanada
scooby==0.7.4
seaborn==0.13.0
Send2Trash==1.8.2+computecanada
sgqlc==16.3
simpervisor==1.0.0
six==1.16.0+computecanada
sniffio==1.3.0+computecanada
sortedcontainers==2.4.0+computecanada
soupsieve==2.5+computecanada
stack_data==0.6.3+computecanada
tables==3.7.0+computecanada
tblib==2.0.0
tensorboard==2.14.1+computecanada
tensorboard_data_server==0.7.2+computecanada
tensorboard_plugin_wit==1.8.1+computecanada
tensorflow==2.14.0+computecanada
tensorflow_estimator==2.14.0+computecanada
tensorflow_io_gcs_filesystem==0.32.0+computecanada
tensorrt==8.6.1.post1
tensorrt-bindings==8.6.1
tensorrt-libs==8.6.1
termcolor==2.3.0+computecanada
terminado==0.17.1+computecanada
tf_estimator_nightly==2.8.0.dev2021122109+computecanada
threadpoolctl==3.2.0+computecanada
tinycss2==1.2.1+computecanada
toolz==0.12.0+computecanada
tornado==6.3.3+computecanada
tqdm==4.66.1+computecanada
traitlets==5.11.2+computecanada
tsfel==0.1.6
types_python_dateutil==2.8.19.14+computecanada
typing_extensions==4.8.0
tzdata==2023.3+computecanada
uri_template==1.3.0+computecanada
urllib3==2.0.7
vtk==9.2.5+computecanada
wcwidth==0.2.8+computecanada
webcolors==1.13+computecanada
webencodings==0.5.1+computecanada
websocket_client==1.6.4+computecanada
werkzeug==3.0.1+computecanada
widgetsnbextension==4.0.8+computecanada
wrapt==1.14.1+computecanada
xmltodict==0.13.0+computecanada
yarl==1.8.2+computecanada
zict==3.0.0
zipp==3.17.0+computecanada
